/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #1A1A1A;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Flex container for header, content, and footer */
body {
    display: flex;
    flex-direction: column;
}

/* Ensure the content area and footer together fill the full height */
#content-container {
    flex: 1;
    padding-top: 130px;
}

#home-page {
    flex: 1;
    padding-top: 130px;
}

/* Header specific styling */
#web-format-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #252525;
    color: white;
    padding: 0;
    margin: 0;
}

#web-format-header .banner h1 {
    margin: 0;
    font-size: 2em;
    margin: 10px 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#web-format-header nav {
    background-color: #1A1A1A;
    margin: 0;
    padding: 0;
}

#web-format-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#web-format-header nav ul li {
    flex: 1;
    padding: 14px 0;
    text-align: center;
}

#web-format-header nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 14px 16px;
}

#web-format-header nav ul li a:hover {
    background-color: #313131;
}

/* Footer specific styling */
#web-format-footer {
    width: 100%;
    padding-top: 60px;
    background-color: #1A1A1A;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#web-format-footer .contact-buttons {
    margin-bottom: 10px;
}

#web-format-footer .contact-button {
    text-decoration: none;
    color: white;
    background-color: #262626;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    transition: background-color 0.3s;
}

#web-format-footer .contact-button i {
    margin-right: 5px;
}

#web-format-footer .contact-button:hover {
    background-color: #474646;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    body {
        overflow-x: hidden; /* Ensure no horizontal scrolling */
    }

    #web-format-header nav ul {
        flex-direction: column;
        align-items: center;
    }

    #web-format-header {
        position: static; /* Change from fixed to static positioning */
    }

    #content-container {
        padding-top: 0; /* Remove padding top that compensates for header */
    }

    #web-format-header nav ul li {
        flex: none; /* Reset flex to none for vertical layout */
        padding: 10px 0; /* Adjust vertical padding */
    }

    #web-format-header .banner h1 {
        font-size: 1.5em;
    }

    #web-format-header .contact-button {
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }

    #web-format-footer .contact-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #web-format-footer .contact-button {
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }
}
