/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #1A1A1A;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body covers the full height of the viewport */
}

/* Flex container for header, content, and footer */
body {
    display: flex;
    flex-direction: column;
}

/* Ensure the content area and footer together fill the full height */
#content-container {
    flex: 1; /* Allows the content area to grow and push the footer down */
}

#home-page {
    flex: 1; /* Allows the content area to grow and push the footer down */
}

/* Header and Footer specific styling */
#web-format-header-footer {
    width: 100%;
}

#web-format-header-footer header {
    background-color: #252525;
    color: white;
    padding: 5px 0;
    text-align: center;
    align-items: center;
}

#web-format-header-footer .banner h1 {
    margin: 0;
    font-size: 2em;
    margin: 10px 0;
}

#web-format-header-footer nav {
    background-color: #1A1A1A;
}

#web-format-header-footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#web-format-header-footer nav ul li {
    display: inline;
    padding: 14px 16px;
}

#web-format-header-footer nav ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    display: inline-block;
}

#web-format-header-footer nav ul li a:hover {
    background-color: #313131;
}

#web-format-header-footer footer {
    background-color: #1A1A1A;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%; /* Full width of the page */
    margin-top: auto; /* Pushes the footer to the bottom */
}

/* Contact buttons */
#web-format-header-footer .contact-buttons {
    margin-bottom: 10px;
}

#web-format-header-footer .contact-button {
    text-decoration: none;
    color: white;
    background-color: #262626;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    transition: background-color 0.3s;
}

#web-format-header-footer .contact-button i {
    margin-right: 5px;
}

#web-format-header-footer .contact-button:hover {
    background-color: #474646;
}

/* Ensure responsiveness for footer buttons */
@media (max-width: 600px) {
    #web-format-header-footer nav ul li {
        display: block;
        padding: 10px 0;
    }

    #web-format-header-footer .banner h1 {
        font-size: 1.5em;
    }

    #web-format-header-footer .contact-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #web-format-header-footer .contact-button {
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }
}
